body {
    padding: 0;
    margin: 0;
    background-image: repeating-linear-gradient(-45deg, #aaaaff 0px, white 1000px, #aaaaff 2000px);
}

#signed-out-container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#credentials-outer-container {
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;

    width: 300px;
    height: 300px;
}

#credentials-inner-container {
    height: 150px;
    width: 200px;
    margin: 75px auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.credentials-element-container {
    width: 100%
}

.credentials-element-container input {
    width: 100%
}

#get-in-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#signed-in-container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;

    position: relative;
}

#content-container {
    width: 60%;
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#search-add-sign-out-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#search-container {
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#search-container input {
    margin-left: 5px;
    flex: 1;
    min-width: 10px;
}

#search-btn-container {
    background: url(assets/images/search-icon.png) no-repeat;
    width: 18px;
    height: 18px;
    margin-left: 2px;
    cursor: pointer;
}

#add-btn-container {
    background: url(assets/images/add-btn.png) no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#sign-out-btn-container a {
    text-decoration: none;
}

#search-results-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.results-group-container {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.results-line-container {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.search-string-instance {
    background-color: yellow;
}

.line-number-span {
    font-weight: bold;
}

.line-content-container {
    margin-left: 10px;
}

#no-results-container {
    width: 100%;
    padding-top: 100px;
    font-weight: 900;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fetch-more-btn {
    background-color: rgb(0, 255, 75);
    width: 100%;
    height: 25px;
    text-align: center;
    border-color: rgb(0, 200, 0);
    cursor: pointer;
}

#add-lines-backdrop {
    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, .5);

    display: none; /* default */
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    top: 0;
}

#add-lines-modal {
    width: 50%;
    min-width: 500px;

    border: 5px solid black;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#add-lines-modal-header {
    width: 90%;
    height: 40px;
    margin: 0 auto;

    border-bottom: 1px solid black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#close-add-lines-btn {
    background: url(assets/images/close-modal-btn.png) no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#add-lines-modal-body {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;

    border-bottom: 1px solid black;
}

#new-lines-textarea {
    width: 100%;
    height: 300px;
    padding: 0;
    margin: 0;
    resize: none;
}

#add-lines-modal-btns-container {
    width: 90%;
    height: 80px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#add-lines-modal-btns-container button {
    width: 80px;
    height: 25px;
    border-radius: 0;
    cursor: pointer;
}

#add-lines-modal-btns-container #add {
    border: 1px solid blue;
    background-color: blue;
    color: white;
}

#add-lines-modal-btns-container #cancel {
    border: 1px solid blue;
    background-color: white;
    color: blue;
}